In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
import pandas as pd
import tensorflow as tf

# Import our input dataset
tele_df = pd.read_csv('Resources/bank_telemarketing.csv')
tele_df.head()

,Age,Job,Marital_Status,Education,Default_Credit,Housing_Loan,Personal_Loan,Subscribed
0,56,other,married,Primary_Education,no,no,no,no
1,37,services,married,Secondary_Education,no,yes,no,no
2,40,admin,married,Primary_Education,no,no,no,no
3,56,services,married,Secondary_Education,no,no,yes,no
4,59,admin,married,Professional_Education,no,no,no,no

In [2]:
# Generate our categorical variable list
tele_cat = tele_df.dtypes[tele_df.dtypes == "object"].index.tolist()


# Check the number of unique values in each column
tele_df[tele_cat].nunique()

Job               9
Marital_Status    3
Education         4
Default_Credit    2
Housing_Loan      2
Personal_Loan     2
Subscribed        2
dtype: int64

In [3]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(tele_df[tele_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(tele_cat)
encode_df.head()

,Job_admin,Job_blue-collar,Job_entrepreneur,Job_management,Job_other,Job_retired,Job_self-employed,Job_services,Job_technician,Marital_Status_divorced,...,Education_Secondary_Education,Education_Tertiary_Education,Default_Credit_no,Default_Credit_yes,Housing_Loan_no,Housing_Loan_yes,Personal_Loan_no,Personal_Loan_yes,Subscribed_no,Subscribed_yes
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

In [4]:
# Merge one-hot encoded features and drop the originals
tele_df = tele_df.merge(encode_df,left_index=True, right_index=True)
tele_df = tele_df.drop(tele_cat,1)
tele_df.head()

,Age,Job_admin,Job_blue-collar,Job_entrepreneur,Job_management,Job_other,Job_retired,Job_self-employed,Job_services,Job_technician,...,Education_Secondary_Education,Education_Tertiary_Education,Default_Credit_no,Default_Credit_yes,Housing_Loan_no,Housing_Loan_yes,Personal_Loan_no,Personal_Loan_yes,Subscribed_no,Subscribed_yes
0,56,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,37,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,40,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,56,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,59,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

In [5]:
# Remove loan status target from features data
y = tele_df.Subscribed_yes.values
X = tele_df.drop(columns=["Subscribed_no","Subscribed_yes"]).values

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [6]:
# Create the SVM model
svm = SVC(kernel='linear')

# Train the model
svm.fit(X_train, y_train)

# Evaluate the model
y_pred = svm.predict(X_test_scaled)
print(f" SVM model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 SVM model accuracy: 0.873

In [7]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  10
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [8]:
# Train the model 
fit_model = nn.fit(X_train_scaled, y_train, epochs=50) 
# Evaluate the model using the test data 
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/50
715/715 [==============================] - 1s 1ms/step - loss: 0.4505 - accuracy: 0.8260
Epoch 2/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3786 - accuracy: 0.8720
Epoch 3/50
715/715 [==============================] - 1s 856us/step - loss: 0.3668 - accuracy: 0.8742
Epoch 4/50
715/715 [==============================] - 1s 816us/step - loss: 0.3688 - accuracy: 0.8739
Epoch 5/50
715/715 [==============================] - 1s 928us/step - loss: 0.3709 - accuracy: 0.8709
Epoch 6/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3701 - accuracy: 0.8719
Epoch 7/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3644 - accuracy: 0.8747
Epoch 8/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3676 - accuracy: 0.8730
Epoch 9/50
715/715 [==============================] - 1s 767us/step - loss: 0.3631 - accuracy: 0.8745
Epoch 10/50
715/715 [==============================] - 1s 831us/step - loss: 0.3718 - accuracy: 0.8702
Epoch 11/50
715/715 [==============================] - 1s 782us/step - loss: 0.3629 - accuracy: 0.8745
Epoch 12/50
715/715 [==============================] - 1s 797us/step - loss: 0.3679 - accuracy: 0.8716
Epoch 13/50
715/715 [==============================] - 1s 797us/step - loss: 0.3643 - accuracy: 0.8732
Epoch 14/50
715/715 [==============================] - 1s 751us/step - loss: 0.3583 - accuracy: 0.8764
Epoch 15/50
715/715 [==============================] - 1s 800us/step - loss: 0.3647 - accuracy: 0.8732
Epoch 16/50
715/715 [==============================] - 1s 733us/step - loss: 0.3569 - accuracy: 0.8770
Epoch 17/50
715/715 [==============================] - 1s 761us/step - loss: 0.3672 - accuracy: 0.8720
Epoch 18/50
715/715 [==============================] - 1s 738us/step - loss: 0.3659 - accuracy: 0.8711
Epoch 19/50
715/715 [==============================] - 1s 734us/step - loss: 0.3620 - accuracy: 0.8741
Epoch 20/50
715/715 [==============================] - 1s 757us/step - loss: 0.3609 - accuracy: 0.8750
Epoch 21/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3636 - accuracy: 0.8729
Epoch 22/50
715/715 [==============================] - 1s 802us/step - loss: 0.3603 - accuracy: 0.8749
Epoch 23/50
715/715 [==============================] - 1s 743us/step - loss: 0.3649 - accuracy: 0.8724
Epoch 24/50
715/715 [==============================] - 1s 750us/step - loss: 0.3688 - accuracy: 0.8717
Epoch 25/50
715/715 [==============================] - 1s 730us/step - loss: 0.3555 - accuracy: 0.8763
Epoch 26/50
715/715 [==============================] - 1s 761us/step - loss: 0.3570 - accuracy: 0.8758
Epoch 27/50
715/715 [==============================] - 1s 738us/step - loss: 0.3664 - accuracy: 0.8720
Epoch 28/50
715/715 [==============================] - 1s 793us/step - loss: 0.3638 - accuracy: 0.8727
Epoch 29/50
715/715 [==============================] - 1s 760us/step - loss: 0.3620 - accuracy: 0.8737
Epoch 30/50
715/715 [==============================] - 1s 768us/step - loss: 0.3599 - accuracy: 0.8748
Epoch 31/50
715/715 [==============================] - 1s 834us/step - loss: 0.3604 - accuracy: 0.8749
Epoch 32/50
715/715 [==============================] - 1s 748us/step - loss: 0.3585 - accuracy: 0.8764
Epoch 33/50
715/715 [==============================] - 1s 770us/step - loss: 0.3519 - accuracy: 0.8786
Epoch 34/50
715/715 [==============================] - 1s 770us/step - loss: 0.3613 - accuracy: 0.8737
Epoch 35/50
715/715 [==============================] - 1s 793us/step - loss: 0.3644 - accuracy: 0.8712
Epoch 36/50
715/715 [==============================] - 1s 734us/step - loss: 0.3614 - accuracy: 0.8734
Epoch 37/50
715/715 [==============================] - 1s 775us/step - loss: 0.3639 - accuracy: 0.8730
Epoch 38/50
715/715 [==============================] - 1s 744us/step - loss: 0.3585 - accuracy: 0.8754
Epoch 39/50
715/715 [==============================] - 1s 744us/step - loss: 0.3613 - accuracy: 0.8735
Epoch 40/50
715/715 [==============================] - 1s 930us/step - loss: 0.3617 - accuracy: 0.8727
Epoch 41/50
715/715 [==============================] - 1s 733us/step - loss: 0.3568 - accuracy: 0.8748
Epoch 42/50
715/715 [==============================] - 1s 769us/step - loss: 0.3534 - accuracy: 0.8778
Epoch 43/50
715/715 [==============================] - 1s 739us/step - loss: 0.3651 - accuracy: 0.8719
Epoch 44/50
715/715 [==============================] - 1s 762us/step - loss: 0.3628 - accuracy: 0.8719
Epoch 45/50
715/715 [==============================] - 1s 759us/step - loss: 0.3659 - accuracy: 0.8712
Epoch 46/50
715/715 [==============================] - 1s 765us/step - loss: 0.3542 - accuracy: 0.8779
Epoch 47/50
715/715 [==============================] - 1s 746us/step - loss: 0.3609 - accuracy: 0.8742
Epoch 48/50
715/715 [==============================] - 1s 824us/step - loss: 0.3617 - accuracy: 0.8725
Epoch 49/50
715/715 [==============================] - 1s 878us/step - loss: 0.3616 - accuracy: 0.8745
Epoch 50/50
715/715 [==============================] - 1s 751us/step - loss: 0.3584 - accuracy: 0.8745
239/239 - 0s - loss: 0.3680 - accuracy: 0.8732
Loss: 0.3680146634578705, Accuracy: 0.8732283711433411